.game-timer {
  padding: 10px;
  text-align: center;
  font: normal bold 240% Consolas,"Courier New",monospace;
}

.player {
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}

.player .player-heading,
.player .player-body {
  padding: 10px;
}

.player .player-heading {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  height: 52px;
  overflow: hidden;
}

.player .player-body {
  height: 160px;
  overflow: hidden;
}

.player .player-avatar {
  width: 32px;
  height: 32px;
  float: left;
}

.player .player-name {
  margin: 5px 5px 5px 40px;
  font-size: 125%;
}

.player .player-role {
  width: 80px;
  height: 80px;
  float: right;
  text-align: center;
  position: relative;
}

.player .player-role .player-check-disabled,
.player .player-role .player-checked {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 120%;
}

.player .player-role .player-check-disabled {
  color: #d9534f;
}

.player .player-role .player-checked {
  color: #5cb85c;
}

.player .player-card {
  margin-bottom: 5px;
  border-width: 2px;
  min-width: 60px;
  min-height: 60px;
}

.player .player-details {
  margin-right: 80px;
  display: none;
}

.player .player-details .label {
  margin: 2px;
  display: inline-block;
}

.player-checkable .player-card {
  border-color: #5cb85c;
}

.player-out .player-heading {
  background-color: #333333;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0)
  );
  background-size: 40px 40px;
  color: #ffffff;
}

/* God mode... */

.game-mode-god .player .player-details {
  display: block;
}

.game-mode-god .player .player-role-killer {
  background-image: url('http://placehold.it/70x70');
}
