.player {
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}

.player .player-heading,
.player .player-body,
.player .player-footer {
  padding: 10px;
}

.player .player-heading {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  height: 52px;
  overflow: hidden;
}

.player .player-heading .img-circle {
  width: 32px;
  height: 32px;
  float: left;
}

.player .player-heading h4 {
  margin: 5px 5px 5px 40px;
  font-size: 125%;
}

.player .player-heading p {
  margin-bottom: 4px;
}

.player .player-body {
  height: 120px;
  overflow: hidden;
}

.player .player-body .player-role {
  width: 75px;
  height: 75px;
  float: right;
}

.player .player-body .player-role .img-thumbnail {
  border-width: 2px;
}

.player .player-body .player-details {
  margin-right: 80px;
}

.player .player-body .player-details .label {
  margin: 2px;
  display: inline-block;
}

.player.player-selected .img-thumbnail {
  border-color: #5CB85C;
}

.player.player-selectable {
  border-color: #5cb85c;
}

.player-selectable .player-body a:hover .img-thumbnail {
  border-color: #5CB85C;
}

.player-out .player-heading {
  background-color: #333333;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0)
  );
  background-size: 40px 40px;
  color: #ffffff;
}
