html, body {
  height: 100%;  /* The html and body elements cannot have any padding or margin. */
}

body {
  padding-top: 50px; /* leave space for fixed navbar */
}

section {
  margin-bottom: 10px;
}

#header {
  padding-top: 20px;
  padding-bottom: 20px;
}

#content {
  min-height: 500px;
  padding-bottom: 40px;
}

#footer-wrapper {
  padding: 40px 0 40px 0;
  font-size: 85%;
  color: #ffffff;
  background-color: #222222;
  border-top: 8px solid #cccccc;
}

#footer-wrapper a {
  color: #cccccc;
  text-decoration: none;
}

#footer-wrapper a:hover, #footer-wrapper a:focus {
  color: #ffffff;
  text-decoration: none;
}

#footer-wrapper .item {
  padding: 0 12px 0 12px;
  border-left: 1px solid #cccccc;
}

#footer-wrapper .item.first {
  padding-left: 0;
  border-left: none;
}

.nav-tabs, .nav-pills {
  margin-bottom: 20px;
}

/* Styles for Swipe (http://swipejs.com/) */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

