@charset "UTF-8";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin background-cover {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

@mixin transition($properties) {
  -webkit-transition: $properties;
     -moz-transition: $properties;
      -ms-transition: $properties;
       -o-transition: $properties;
          transition: $properties;
}

@mixin transform($properties) {
  -webkit-transform: $properties;
     -moz-transform: $properties;
      -ms-transform: $properties;
       -o-transform: $properties;
          transform: $properties;
}
