{% extends "mafia/base.html" %}


{% block head_title %} Host a New Game {% endblock %}


{% block header %}
  <h1>Host</h1>
{% endblock %}


{% block content %}

  <div class="row">

    <div class="col-md-6">

      <form id="game-host-form" class="form-horizontal" action="{% url mafia-game-host %}" method="post">

        {% csrf_token %}

        {% for field, is_checkbox in form.get_basic_fields %}
          <div class="form-group {% if field.errors %}has-error{% endif %}">
            {% if is_checkbox %}
              <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox"><label>{{ field }} {{ field.label }}</label></div>
              </div>
            {% else %}
              <label class="col-sm-4 control-label">{{ field.label }}</label>
              <div class="col-sm-8">{{ field }}</div>
            {% endif %}
          </div>
        {% endfor %}

        <fieldset id="classic-fields" style="display: none;">
          <legend>Classic Settings</legend>
          {% for field, is_checkbox in form.get_classic_fields %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
              {% if is_checkbox %}
                <div class="col-sm-offset-4 col-sm-8">
                  <div class="checkbox"><label>{{ field }} {{ field.label }}</label></div>
                </div>
              {% else %}
                <label class="col-sm-4 control-label">{{ field.label }}</label>
                <div class="col-sm-8">{{ field }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </fieldset>

        <fieldset id="werewolves-fields" style="display: none;">
          <legend>Werewolves Settings</legend>
          {% for field, is_checkbox in form.get_werewolves_fields %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
              {% if is_checkbox %}
                <div class="col-sm-offset-4 col-sm-8">
                  <div class="checkbox"><label>{{ field }} {{ field.label }}</label></div>
                </div>
              {% else %}
                <label class="col-sm-4 control-label">{{ field.label }}</label>
                <div class="col-sm-8">{{ field }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </fieldset>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary">Host</button>
          </div>
        </div>

      </form>

      <script type="text/javascript">//<![CDATA[
        $(function() {
          var variantInput = $('#game-host-form :input[name="variant"]');
          $('#' + variantInput.val() + '-fields').show();
          variantInput.change(function() {
            $('#classic-fields').hide();
            $('#werewolves-fields').hide();
            $('#' + $(this).val() + '-fields').show();
          });
        });
      //]]></script>

    </div>

  </div>

{% endblock %}
