{% extends "mafia/base.html" %}


{% block head_title %} {{ game.name }} (Variant: {{ game.variant }}) {% endblock %}


{% block head_extras %}
  <link href="{{ STATIC_URL }}mafia/css/mafia.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block header %}
  <h1>{{ game.name }} (Variant: {{ game.variant }})</h1>
{% endblock %}


{% block content %}

  <div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#game" data-toggle="tab">Game</a></li>
      <li><a href="#logs" data-toggle="tab">Logs</a></li>
    </ul>

    <div class="tab-content">

      <div id="game" class="tab-pane fade in active">

        <section id="game-over" style="display: none;">
          <div class="alert alert-warning">
            <span class="glyphicon glyphicon-info-sign"></span> Game is over.
          </div>
        </section>

        <!-- Game State ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <div class="row">
          <div class="col-md-8">
            <p>
              <strong>Game State:</strong>
              {% if game.is_ongoing %}
                <span class="text-success">Ongoing ... <span id="heartbeat-indicator"></span></span>
              {% elif game.is_over %}
                <span class="text-danger">Game Over.</span>
              {% else %}
                <span class="text-muted">Not started yet.</span>
              {% endif %}
            </p>
          </div>
          <div class="col-md-4" style="text-align: right;">
            {% if game.is_ongoing %}
              <button id="error-indicator" class="btn btn-danger btn-xs" style="display: none;" type="button" disabled="disabled">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
              </button>
              <span>
                <a id="start-updating-button" class="btn btn-xs btn-primary" href="javascript:void(0);" onclick="return startHeartbeat();">
                  <span class="glyphicon glyphicon-play"></span>
                </a>
                <a id="stop-updating-button" class="btn btn-xs btn-danger" style="display: none;" href="javascript:void(0);" onclick="return stopHeartbeat();">
                  <span class="glyphicon glyphicon-pause"></span>
                </a>
              </span>
            {% endif %}
            <a class="btn btn-xs btn-default" href="{{ game.get_absolute_url }}">
              <span class="glyphicon glyphicon-refresh"></span>
            </a>
          </div>
        </div>

        <!-- Game Action Form ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        {% if game.is_ongoing %}

        <form id="game-action-form" class="form-horizontal" action="{% url mafia-game-play pk=game.pk %}" method="post" onsubmit="return executeAction();">

          <div id="game-timer" class="game-timer">--</div>
          <div class="alert alert-info">
            <p><strong><span id="game-round">Round ?</span> - <span id="game-action"></span></strong></p>
            <p>Select one or more targets below...</p>
            <div class="form-group">
              <label class="col-sm-4 control-label">Magic (Wizard only, optional):</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="magic" placeholder="Black / White"/>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-primary" type="submit">Execute Action</button>
                <span class="done text-success glyphicon glyphicon-ok-sign" style="display: none;"></span>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <section>
            <div id="players" class="row">
              {% for player in game.player_set.all %}
                <div class="col-md-3">
                  <div id="player-{{ player.pk }}" class="player">
                    <div class="player-heading">
                      <img class="img-circle" src="{{ player.gravatar_url }}" alt="{{ player }}"/>
                      <h4>{{ player }}</h4>
                      <div class="clearfix"></div>
                    </div>
                    <div class="player-body">
                      <div class="player-role">
                        <a href="javascript:void(0);" onclick="return togglePlayerSelect({{ player.pk }});">
                          <img class="img-thumbnail" src="http://placehold.it/60x60" alt="{{ player.role }}"/>
                        </a>
                        {% if request.user == player.user %}
                          <span class="label label-success">YOU</span>
                        {% endif %}
                      </div>
                      <div class="player-details">
                        <div><span class="role label label-primary"></span></div>
                        <div class="tags"></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div style="display: none;">
                      <input type="checkbox" name="target_pk[]" value="{{ player.pk }}"/>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </section>

        </form>

        {% endif %}

        <form class="form-inline" action="{% url mafia-game-start pk=game.pk %}" method="post">
          {% csrf_token %}
          <div class="alert alert-danger">
            <div class="form-group"><button class="btn btn-danger" type="submit">(Re)Start the game!</button></div>
          </div>
        </form>

      </div>

      <div id="logs" class="tab-pane fade">
        <ul class="list-unstyled">
          {% for log in game.log_set.all %}
            <li><code>{{ log }}</code></li>
          {% endfor %}
        </ul>
      </div>

    </div>

  </div>

{% endblock %}


{% block bottom_extras %}

  <script type="text/javascript">//<![CDATA[

    var updateTimestamp = null;
    var heartbeatId = null;

    function uncheckPlayers() {
      $('.player').each(function() {
        $('input[name="target_pk[]"]', this).prop('checked', false);
        $(this).removeClass('player-selected');
      });
    }

    function togglePlayerSelect(playerPK) {
      var element = $('#player-' + playerPK);
      var checkbox = $('input[name="target_pk[]"]', element);
      var isChecked = element.hasClass('player-selectable') && !checkbox.prop('checked');
      checkbox.prop('checked', isChecked);
      element.toggleClass('player-selected', checkbox.prop('checked'));
      return false;
    }

    function updateGameState(game) {
        $('#game-over').toggle(game.is_over);
        $('#game-round').text('Round ' + game.round);
        if (game.current_action != null) {
          $('#game-action').text(game.current_action.name);
        }
    }

    function updatePlayer(player, isSelectable) {
      var element = $('#player-' + player.pk);
      // Update player information...
      $('.role', element).text(player.role);
      element.toggleClass('player-out', player.is_out);
      element.toggleClass('player-selectable', isSelectable);
      // Update player tags...
      var tagsElement = $('.tags', element).empty();
      for (var j = 0; j < player.tags.length; j++) {
        $('<span class="label label-default"></span>').text(player.tags[j]).appendTo(tagsElement);
      }
    }

    function heartbeat() {
      $.ajax({
        url: '{% url mafia-game-heartbeat pk=game.pk %}',
        type: 'get'
      }).done(function(game) {
        $('#error-indicator').hide();
        $('#heartbeat-indicator').text(game.update_date).show().delay(250).fadeOut();
        $('#game-timer').text(game.elapsed_seconds_since_last_update);
        if (game.update_date != updateTimestamp) {
          updateTimestamp = game.update_date;
          updateGameState(game);
          for (var i = 0; i < game.players.length; i++) {
            var player = game.players[i];
            var isSelectable = (game.possible_target_pk_list.indexOf(player.pk) != -1);
            updatePlayer(player, isSelectable);
          }
        }
        if (game.is_over) {
          stopHeartbeat();
        }
      }).fail(function() {
        $('#error-indicator').show().delay(250).fadeOut();
      });
    }

    function startHeartbeat() {
      $('#start-updating-button').hide();
      $('#stop-updating-button').show();
      updateTimestamp = null;
      heartbeatId = setInterval(heartbeat, 2000);
      return false;
    }

    function stopHeartbeat() {
      $('#stop-updating-button').hide();
      $('#start-updating-button').show();
      if (heartbeatId != null) {
        clearInterval(heartbeatId);
      }
      heartbeatId = null;
      return false;
    }

    function executeAction() {
      var form = $('#game-action-form');
      $('.done', form).hide();
      $.ajax({
        url: form.attr('action'),
        type: form.attr('method'),
        data: form.serialize()
      }).done(function(data) {
        $('.done', form).show().delay(250).fadeOut();
        uncheckPlayers();
        //TODO:$('input[name="target_pk[]"]', form).iCheck('uncheck');
      }).fail(function(data) {
        alert('failed:');
        $('.done', form).hide();
      });
      return false;
    }

    {% if game.is_ongoing %}
      $(function() {
        startHeartbeat();
      });
    {% endif %}

  //]]></script>

{% endblock %}

