{% extends "mafia/base.html" %}


{% load humanize %}


{% block head_title %} {{ game.name }} ({{ game.variant }}) {% endblock %}


{% block head_extras %}
  <link href="{{ STATIC_URL }}mafia/css/mafia.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block header %}

  <div class="pull-right" style="text-align: center;">
    <div>
      {% if game.is_ongoing %}
        {% if current_players.is_host or is_god_mode %}
          <a class="btn btn-sm btn-danger" href="javascript:void(0);" onclick="performGameAction('reset');">
            <span class="glyphicon glyphicon-repeat"></span> Reset
          </a>
        {% endif %}
      {% else %}
        {% if not current_players and engine.is_joinable %}
          <a class="btn btn-sm btn-success" href="javascript:void(0);" onclick="performGameAction('join');">
            <span class="glyphicon glyphicon-log-in"></span> Join
          </a>
        {% endif %}
        {% if current_players %}
          <a class="btn btn-sm btn-danger" href="javascript:void(0);" onclick="performGameAction('quit');">
            <span class="glyphicon glyphicon-log-out"></span> Quit
          </a>
        {% endif %}
        {% if current_players.is_host or is_god_mode %}
          {% if engine.is_startable %}
            <a class="btn btn-sm btn-success" href="javascript:void(0);" onclick="performGameAction('start');">
              <span class="glyphicon glyphicon-play-circle"></span> Start
            </a>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
    <div>
      <span class="label label-default">{{ engine.get_game_state }}</span>
      {% if is_god_mode %}
        <span class="label label-success">God Mode</span>
      {% endif %}
    </div>
  </div>
  <h1>{{ game.name }} ({{ game.variant }})</h1>
  <div class="clearfix"></div>

{% endblock %}


{% block content %}

  {% if game.is_ongoing %}

    <div class="game-mode-{{ is_god_mode|yesno:'god,normal' }}">

      <form id="game-action-form" class="form-inline" action="{% url mafia-game-play pk=game.pk %}" method="post" onsubmit="return executeAction();">

        <input type="hidden" name="uuid" value=""/>

        <!-- game over alert ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <div id="game-over" class="alert alert-warning" style="display: none;">
          <span class="glyphicon glyphicon-info-sign"></span> Game is over.
        </div>

        <!-- heading ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <div class="row">
          <div class="col-md-9">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong id="game-round">Round ?</strong> <span id="action-name">Action</span>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <span class="glyphicon glyphicon-info-sign"></span> Select <strong id="action-num-targets"></strong> target(s)
                </div>
                <div class="form-group">
                  <input type="hidden" name="option" value=""/>
                  <span id="action-options"></span>
                </div>
                <div class="form-group">
                  <button id="action-execute-button" class="btn btn-primary" type="submit">Execute</button>
                  <span class="done text-success glyphicon glyphicon-ok-sign" style="display: none;"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well" style="text-align: center;">
              <div class="small">
                {% if is_god_mode %}
                  <a href="{{ game.get_absolute_url }}">Normal Mode</a> | <strong class="text-muted">God Mode</strong>
                {% else %}
                  <strong class="text-muted">Normal Mode</strong> | <a href="{{ game.get_absolute_url }}?mode=god">God Mode</a>
                {% endif %}
              </div>
              <div id="game-timer" class="game-timer">--</div>
              <div>
                <a class="btn btn-sm btn-default" href="javascript:void(0);" onclick="refresh();">
                  <span class="glyphicon glyphicon-refresh"></span> Refresh
                </a>
                <a id="start-heartbeat-button" class="btn btn-sm btn-primary" style="display: none;" href="javascript:void(0);" onclick="startHeartbeat();">
                  <span class="glyphicon glyphicon-play"></span> Start
                </a>
                <a id="pause-heartbeat-button" class="btn btn-sm btn-danger" style="display: none;" href="javascript:void(0);" onclick="pauseHeartbeat();">
                  <span class="glyphicon glyphicon-pause"></span> Pause
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- tabs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <ul class="nav nav-tabs">
          <li class="active"><a href="#players" data-toggle="tab">Players</a></li>
          <li><a href="#logs" data-toggle="tab">Logs</a></li>
        </ul>

        <div class="tab-content">

          <!-- players ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <div id="players" class="tab-pane fade in active">
            <div class="row">
              {% for player in game.player_list %}
                <div class="col-md-3">
                  <div id="player-{{ player.pk }}" class="player">
                    <div class="player-heading">
                      {% if request.user == player.user %}
                        <div class="pull-right"><span class="label label-success">YOU</span></div>
                      {% endif %}
                      <img class="player-avatar img-circle" src="{{ player.gravatar_url }}" alt="{{ player }}"/>
                      <h4>
                        {{ player }}
                        <small class="player-host" style="display: none;"><span class="glyphicon glyphicon-star"></span></small>
                      </h4>
                      <div class="clearfix"></div>
                    </div>
                    <div class="player-body">
                      <div class="player-role">
                        <a href="javascript:void(0);" onclick="togglePlayerCheckbox({{ player.pk }});">
                          <img class="player-card img-thumbnail" src="http://placehold.it/60x60" alt="Player Card"/>
                        </a>
                        <span class="player-check-disabled glyphicon glyphicon-remove-sign" style="display: none;"></span>
                        <span class="player-checkmark glyphicon glyphicon-ok-sign" style="display: none;"></span>
                        <div><span class="player-role-name label label-default">--</span></div>
                      </div>
                      <div class="player-details"></div>
                      <div class="clearfix"></div>
                    </div>
                    <div style="display: none;">
                      <input type="checkbox" name="target_pk[]" value="{{ player.pk }}"/>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

          <!-- logs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <div id="logs" class="tab-pane fade">
            <table class="table">
              <thead>
                <tr>
                  <th>Round</th>
                  <th>Action</th>
                  <th>Text</th>
                  <th>Visibility</th>
                </tr>
              </thead>
              <tbody id="game-logs">
                <tr class="prototype">
                  <td class="log-round">--</td>
                  <td class="log-action-name">--</td>
                  <td class="log-text">--</td>
                  <td class="log-visibility">--</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </form>

    </div>

  {% endif %}{# game.is_ongoing #}

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  {% if not game.is_ongoing %}

    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Player</th>
            <th>Username</th>
            <th>Joined...</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for player in game.player_list %}
            <tr>
              <td>
                {% if player.user %}
                  {{ player.user }}
                {% else %}
                  <span class="text-muted">Unused</span>
                {% endif %}
                {% if player.hand_side %}
                  <span class="label label-default">{{ player.hand_side }}</span>
                {% endif %}
                {% if player.is_host %}
                  <span class="label label-success">host</span>
                {% endif %}
              </td>
              <td>
                {% if player.user %}
                  <code>{{ player.user.username }}</code>
                {% else %}
                  <span class="text-muted">NA</span>
                {% endif %}
              </td>
              <td>{{ player.join_date|naturaltime }}</td>
              <td>
                {% if current_players.is_host or is_god_mode %}
                  <a class="btn btn-xs btn-danger" href="javascript:void(0);" onclick="performGameAction('kickoff', '{{ player.user.username }}');">
                    <span class="glyphicon glyphicon-log-out"></span> Kickoff
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <span class="text-muted"><span class="glyphicon glyphicon-user"></span> {{ game.player_list|length }} players</span>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  {% endif %}{# not game.is_ongoing #}

{% endblock %}


{% block bottom_extras %}

  <script type="text/javascript">//<![CDATA[

    function uuid() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0;
        var v = (c == 'x' ? r : (r & 0x3 | 0x8));
        return v.toString(16);
      });
    }

    //! Performs game action: join, quit, kickoff (username), reset, start.
    function performGameAction(action, username) {
      username = (typeof username !== 'undefined' ? username : null);
      // Add a UUID to the request data to prevent browser caching.
      $.post('{{ game.get_absolute_url }}', {action: action, username: username, uuid: uuid()})
          .done(function(data) {
            location.reload();
          })
          .fail(function(xhr) {
            alert(xhr.responseText);
          });
    }

  //]]></script>

  {% if game.is_ongoing %}

    <script type="text/javascript">//<![CDATA[

      var TRANSLATIONS = {
        {% for key, value in translations.items %}
          '{{ key|escapejs }}': '{{ value|escapejs }}' {% if not forloop.last %},{% endif %}
        {% endfor %}
      };

      function trans(value) {
        if (value in TRANSLATIONS) {
          return TRANSLATIONS[value];
        } else {
          return value;
        }
      }

      var isGodMode = {{ is_god_mode|yesno:'true,false' }};

      /// Simulation of a class holding information about the current players.
      function CurrentPlayers() {

        this.pks = [
          {% for current_player in current_players %}
            {{ current_player.pk }} {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        this.roles = [
          {% for current_player in current_players %}
            '{{ current_player.role }}' {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        this.tags = [];
      }

      CurrentPlayers.prototype.updateRoleAndTags = function(player) {
        var index = this.pks.indexOf(player.pk);
        if (index != -1) {
          this.roles[index] = player.role;
          for (var i = 0; i < player.tags.length; i++) {
            var tag = player.tags[i];
            if (this.tags.indexOf(tag) == -1) {
              this.tags.push(tag);
            }
          }
        }
        
      };

      CurrentPlayers.prototype.isActor = function(game) {
        for (var i = 0; i < this.pks.length; i++) {
          if (game.actor_pk_list.indexOf(this.pks[i]) != -1) {
            return true;
          }
        }
        return false;
      };

      CurrentPlayers.prototype.hasTag = function(tag) {
        return (this.tags.indexOf(tag) != -1);
      };

      CurrentPlayers.prototype.canSeePlayerRole = function(player) {
          var isPlayerRoleVisibleToCurrentUser = false;
          if (isGodMode) {
            return true;
          } else if (this.pks.indexOf(player.pk) != -1) {
            return true;
          } else if (player.role != 'Civilian' && this.roles.indexOf(player.role) != -1) {
            return true;
          } else if (this.hasTag('chosen_as_lovers') && player.tags.indexOf('chosen_as_lovers') != -1) {
            return true;  // Lovers can see the role of each other.
          } else {
            return false;
          }
      };

      CurrentPlayers.prototype.canSeePlayerTag = function(player, tag) {
        if (isGodMode) {
          return true;
        }
        if (tag == 'appointed_as_mayor') {
          return true;  // Mayor is visible to everyone.
        }
        if (this.hasTag('chosen_as_lovers') && tag == 'chosen_as_lovers') {
          return true;  // Lovers can see each other.
        }
        if (this.hasTag('tempted_by_flute_player') && tag == 'tempted_by_flute_player') {
          return true;  // Players that were tempted by flute player can see each other.
        }
        return false;
      };

      CurrentPlayers.prototype.canSeeLog = function(log) {
        return (log.visibility == '*' || this.roles.indexOf(log.visibility) != -1 || isGodMode);
      };

      var currentPlayers = new CurrentPlayers();

      /// Timestamp of the last update, used to decide if we need to refresh players.
      var updateTimestamp = null;

      /// Game heartbeat ID returned by setInterval(), used in clearInterval().
      var heartbeatId = null;

      function togglePlayerCheckbox(playerPK) {
        var element = $('#player-' + playerPK);
        if (element.hasClass('player-checkable')) {
          var checkbox = $('input[name="target_pk[]"]', element);
          var isChecked = !checkbox.prop('checked');
          checkbox.prop('checked', isChecked);
          $('.player-checkmark', element).toggle(isChecked);
        } else {
          $('.player-check-disabled', element).show().delay(200).fadeOut();
        }
        return false;
      }

      function updateActionOptions(options) {
        $('#game-action-form input[name="option"]').val('');
        var optionsContainer = $('#action-options').empty();
        for (var i = 0; i < options.length; i++) {
          var option = options[i];
          var optionImage = $('<img class="img-thumbnail"/>')
              .attr('src', 'http://placehold.it/32x32')  // TODO:
              .attr('alt', option);
          var optionLink = $('<a class="action-option" href="javascript:void(0);"></a>')
              .attr('data-option', option)
              .append(optionImage);
          optionLink.click(function() {
            var optionInput = $('#game-action-form input[name="option"]');
            var selectedOption = $(this).attr('data-option');
            $('a.action-option').removeClass('action-option-checked');
            if (optionInput.val() == selectedOption) {
              optionInput.val('');
            } else {
              optionInput.val(selectedOption);
              $(this).addClass('action-option-checked');
            }
            return false;
          });
          optionsContainer.append(optionLink);
        }
      }

      function updateGame(game, isCurrentUserActor) {
        // Update game logs.
        var logsContainer = $('#game-logs');
        var prototypeRow = $('.prototype', logsContainer);
        logsContainer.empty();
        for (var i = 0; i < game.logs.length; i++) {
          var log = game.logs[i];
          if (log.visibility != '' || isGodMode) {
            var row = prototypeRow.clone().removeClass('prototype');
            $('.log-round', row).text(log.round);
            $('.log-action-name', row).text(log.action_name);
            if (currentPlayers.canSeeLog(log)) {
              $('.log-text', row).text(log.text);
            } else {
              $('.log-text', row).text('* * *');
            }
            $('.log-visibility', row).text(log.visibility);
            logsContainer.append(row);
          }
        }
        logsContainer.append(prototypeRow);
        // Update game state.
        $('#game-over').toggle(game.is_over);
        $('#game-round').text('Round ' + game.round);
        // Update information about the current action.
        if (game.current_action != null) {
          $('#action-name').text(trans(game.current_action.name));
          if (isCurrentUserActor || isGodMode) {
            var numTargets = game.current_action.min_num_targets;
            if (numTargets < game.current_action.max_num_targets) {
              numTargets = numTargets + ' - ' + game.current_action.max_num_targets;
            }
            $('#action-num-targets').text(numTargets);
            updateActionOptions(game.current_action.option_choices);
            $('#action-execute-button').prop('disabled', false);
          } else {
            $('#action-num-targets').text('?');
            updateActionOptions([]);
            $('#action-execute-button').prop('disabled', true);
          }
        }
      }

      function updatePlayer(player, isPossibleTarget, isCurrentUserActor) {
        currentPlayers.updateRoleAndTags(player);
        var element = $('#player-' + player.pk);
        // Update player status.
        element.toggleClass('player-out', player.is_out);
        element.toggleClass('player-checkable', isPossibleTarget && (isCurrentUserActor || isGodMode));
        $('.player-host', element).toggle(player.is_host);
        // Update player role.
        if (currentPlayers.canSeePlayerRole(player)) {
          // The player to update has the same role as the current player, or we are in god mode.
          $('.player-role-name', element).text(trans(player.role));
          // $('.player-card', element).attr('src', '{{ STATIC_URL }}mafia/img/role_' + player.role.toLowerCase() + '.png');  // TODO: enable this!
          $('.player-card', element).attr('src', 'http://placehold.it/60x60');  // TODO: remove this!
        } else {
          // The player to update has a different role from the current player.
          $('.player-role-name', element).text('--');
          $('.player-card', element).attr('src', 'http://placehold.it/60x60');  // TODO: use face-down image!
        }
        // Update player tags.
        var detailsElement = $('.player-details', element).empty();
        for (var i = 0; i < player.tags.length; i++) {
          var tag = player.tags[i];
          if (currentPlayers.canSeePlayerTag(player, tag)) {
            $('<span class="player-tag"></span>').addClass('player-tag-' + player.tags[i].toLowerCase()).appendTo(detailsElement);
            // $('<span class="label label-default"></span>').text(player.tags[i]).appendTo(detailsElement); // TODO: debug.
          }
        }
      }

      function refresh() {
        heartbeat();
        return false;
      }

      function heartbeat() {
        // Add a UUID to the request data to prevent browser caching.
        $.post('{% url mafia-game-heartbeat pk=game.pk %}', {uuid: uuid()})
            .done(function(game) {
              $('#game-timer').removeClass('text-danger').addClass('text-success').text(game.elapsed_seconds_since_last_update);
              if (game.update_date != updateTimestamp) {
                updateTimestamp = game.update_date;
                // Check if the current user is actor of the current action.
                var isCurrentUserActor = currentPlayers.isActor(game);
                updateGame(game, isCurrentUserActor);
                for (var i = 0; i < game.players.length; i++) {
                  var player = game.players[i];
                  var isPossibleTarget = (game.possible_target_pk_list.indexOf(player.pk) != -1);
                  updatePlayer(player, isPossibleTarget, isCurrentUserActor);
                }
              }
              if (game.is_over) {
                pauseHeartbeat();
              }
            })
            .fail(function() {
              $('#game-timer').removeClass('text-success').addClass('text-danger').text('ERR');
            });
      }

      function startHeartbeat() {
        $('#start-heartbeat-button').hide();
        $('#pause-heartbeat-button').show();
        updateTimestamp = null;
        heartbeatId = setInterval(heartbeat, 2000);
        return false;
      }

      function pauseHeartbeat() {
        $('#pause-heartbeat-button').hide();
        $('#start-heartbeat-button').show();
        if (heartbeatId != null) {
          clearInterval(heartbeatId);
        }
        heartbeatId = null;
        return false;
      }

      function executeAction() {
        var form = $('#game-action-form');
        $('input[name="uuid"]', form).val(uuid());  // Auto-fill uuid to prevent browser caching.
        $('.done', form).hide();
        $.ajax({
          url: form.attr('action'),
          type: form.attr('method'),
          data: form.serialize()
        }).done(function(data) {
          $('.done', form).show().delay(200).fadeOut();
          $('.player').each(function() {
            $('input[name="target_pk[]"]', this).prop('checked', false);
            $('.player-checkmark', this).hide();
          });
        }).fail(function(xhr) {
          alert(xhr.responseText);
          $('.done', form).hide();
        }).always(function() {
          refresh();
        });
        return false;
      }

      $(function() {
        pauseHeartbeat();
        refresh();
      });

    //]]></script>

  {% endif %}{# game.is_ongoing #}

{% endblock %}

