{% extends "mafia/base.html" %}


{% block head_title %} Mafia {% endblock %}


{% block header %}
  <h1>Mafia</h1>
{% endblock %}


{% block content %}

  {% if available_game_list %}

    <table class="table">
      <thead>
        <tr>
          <th>Game</th>
          <th>Hoster</th>
          <th>Join</th>
        </tr>
      </thead>
      <tbody>
        {% for game in available_game_list %}
          <tr>
            <td><a href="{{ game.get_absolute_url }}">{{ game }}</a></td>
            <td><a href="{{ game.hoster.profile.get_absolute_url }}">{{ game.hoster.profile }}</a></td>
            <td><a class="btn btn-xs btn-primary" href="{% url mafia-game-join pk=game.pk %}">Join</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% comment %}
    <script type="text/javascript">//<![CDATA[

      $('#user-rating').raty({
        path: '{{ STATIC_URL }}bower_components/raty/lib/img',
        {% if user_rating %}
          score: {{ user_rating.score }},
        {% endif %}
        cancel: true,
        cancelPlace: 'right',
        click: function(score, event) {
          $('#rating-form input[name="score"]').val(score != null ? score : 0);
          if (score == null) {
            updateRating();
          } else {
            $('#rating-comment-modal').modal('show');
          }
        }
      });

      function joinGame(joinUrl) {
        var form = $('#rating-form');
        var options = {
          type: 'post',
          url: joinUrl,
          data: form.serialize(),
          success: function(data) {
            $('#rating-comment-modal').modal('hide');
          },
          error: function(xhr, status, exc) {
            $('#rating-comment-modal').modal('hide');
          }
        };
        $.ajax(options);
        return false;
      }

    //]]></script>
    {% endcomment %}

  {% else %}

    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-exclamation-sign"></span> No game avaialble.
    </div>

  {% endif %}

  <p><a class="btn btn-primary" href="{% url mafia-game-host %}">Host a New Game</a></p>

{% endblock %}

